<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
		http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">

  <display-name>ModelPlayer_Web</display-name>
  
    <servlet>
	<description>登入畫面要使用的4碼驗證碼</description>
	<servlet-name>LoginCaptcha</servlet-name>
	<servlet-class>uuu.mpr.view.CaptchaServlet</servlet-class>
	<init-param>
		<param-name>len</param-name>
		<param-value>4</param-value>
	</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>LoginCaptcha</servlet-name>
		<url-pattern>/images/captcha.jpg</url-pattern>
	</servlet-mapping>
	
	<servlet>
  	<description>註冊畫面要使用同預設長度的驗證碼</description>
  	<servlet-name>RegisterCaptcha</servlet-name>
  	<servlet-class>uuu.mpr.view.CaptchaServlet</servlet-class>  
  	<init-param>
  		<param-name>len</param-name>
  		<param-value>7</param-value>
  	</init-param>	
  	</servlet>
  
    <servlet-mapping>
  	  <servlet-name>RegisterCaptcha</servlet-name>
  	  <url-pattern>/images/register_captcha.jpg</url-pattern>
    </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    
  </welcome-file-list>
</web-app>